# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules

.cache

.idea
.claude/
src/env.js
release/
grantzy-extension-v*.zip
.DS_Store
.test-screenshots/
.test-profile/
.test-profile-scan/
