/* Overall widget container */
.grantzy-widget {
    position: absolute;
    background-color: #fff;
    padding: 15px;
    z-index: 2000;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Flex container for sidebar and main content */
.grantzy-widget .widget-container {
    display: flex;
    width: 100%;
}

/* Sidebar styles */
.grantzy-widget .widget-sidebar {
    width: 300px;
    border-right: 1px solid #ddd;
    padding: 10px;
    margin-right: 10px;
    max-height: 400px;
    overflow-y: auto;
    background-color: #fafafa;
}

.grantzy-widget .widget-sidebar li.selected-root {
    background-color: #e0f7fa; /* Use any highlight color you prefer */
}

/* Sidebar header */
.grantzy-widget .widget-sidebar h3 {
    margin-top: 0;
    font-size: 1.2em;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

/* Main content area */
.grantzy-widget .widget-main {
    flex: 1;
    padding: 10px;
    max-width:500px;
}

/* Widget header */
.grantzy-widget .widget-header {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Search input styling */
.grantzy-widget input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Results container styling */
.grantzy-widget .results-container {
    max-height: 300px;
    overflow-y: auto;
}

.grantzy-widget .result-item {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-key {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    /* Optional: add padding or a border-bottom to separate visually */
    padding-bottom: 4px;
    font-size: 0.85em; /* Reduced font size */

}

.result-value {
    white-space: normal; /* Allow wrapping for the value */
}


.grantzy-widget .result-item:hover,
.grantzy-widget .result-item.hovered {
    background-color: #f0f8ff;
    border-color: #add8e6;
}

/* Loader style */
.grantzy-widget .loader {
    font-style: italic;
    color: #777;
}

/* Button styling */
.grantzy-widget button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.grantzy-widget button:hover {
    background-color: #0056b3;
}

/* Controls container */
.grantzy-widget .widget-controls {
    position: absolute;
    top: 5px;
    right: 5px;
}